div{
     background-color: #CDE8FA; 
font-family: Helvetica;

 
 background-position: center center;
 
 background-repeat: no-repeat;
 
}
div.nav {
    display:flex;
    text-align:center;
    padding-top: 369px;
  }

div#bender img {
max-width:500px; 
width:50%;
background-position: top;}

nav ul li {display:inline;}
div#Fry img{
max-width:500px; 
width:20%;
background-position:center;    
}

header {
    background-image: url(images/header-thin.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 369px; 
    padding: 0px;
    margin: 0px;
    width: 100vw;

}

img.future {
    height: 260px;
    text-align: center;
    margin: auto;
    padding-top: 55px;
    display: block;
}